*
    font-family: 'Oswald', sans-serif
    margin: 0
    padding: 0
#svg
    max-width: 20px
    max-height: 20px
    padding-right: 25px    
.wrapper
    max-width: 1600px
.container
    max-width: 1280px
    margin: 0 auto
header
    height: 80px
    .menu
        margin-top: 20px
        display: flex
        justify-content: space-between
        align-items: center
        list-style-type: none
        padding: 20px 100px 20px 100px;
        border: 1px solid #000000
        img
            width: 100px
        &_item
            &_link
                color: #000000
                text-decoration: none
                font-size: 25px;
                font-weight: 500;
.header_junior
    margin-top: 100px
    &_block
        display: flex
        justify-content: space-around
        align-items: center
        height: 250px

        h1
            font-size: 100px
        img
            height: 150px
            // padding-top: 10px;                    
    .about
        // padding: 0 80px 0 80px
        &_me
            display: flex
            justify-content: center
            align-items: center
            .name_date
                .name_block
                    display: flex
            ul li
                list-style-type: none  
        .name_date, .education
            line-height: 20px
            line-height: 40px;
            font-size: 20px;
            width: 33%
        img
            height: 300px
        
            

